.app {
    background: #f8f8f8;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto  auto; 
    transition: 0.5s;
}

.cabecalho {
    display: flex;
    align-items: center;
    grid-area: cabecalho;
    padding: 0 2rem;
}

.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    background-color: #fdfdfd;
    color: #333333;
    grid-area: rodape;
    text-align: center;
    padding: 1rem;
}